{% load static %}
<div class="menu"> <span></span> </div>
<nav id="nav">
    <ul class="main">
        <li><a href="#">Hi There! Ravi</a></li>
        <li><a href="#">About ME</a></li>
        <li><a href="#">Web Development</a></li>
        <li><a href="#">Digital Marketing</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
<div class="overlay"></div>
<!-- HEADER -->
<div class="col-12 header ">
    <header class="brand example-classname">
        <img class="img-fluid" src="{% static 'img/newbrand.png' %}" alt="">
        <nav class="navbar navbar-expand mt-4 ">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#asso_info">Ancre #1 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#streamer_info">Ancre #2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ancre #3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Ancre #4</a>
                    </li>
                </ul>
            </div>
        </nav>
        <i class="fas fa-chevron-down"></i>
    </header>
</div>