<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row ">
            <!-- HEADER -->
            <!-- INFO ASSO -->
            <div class="col-12 asso_info">
                <section>
                    <hr>
                    <p>
                        Loz-E-Sport est une Association crée pour rassembler et fédérer les joueurs de la Lozère et d'ailleurs, autour de compétitions de jeux vidéo avec à la clé un événement E-Sport (uLooz).
                        Le discord de Loz-E-Sport est donc un lieu d'échange, de partage et de compétitions accompagné de la recette secrète indispensable pour que tout fonctionne : la bonne entente et le respect envers chacun !
                        Notre principal souhait est donc de créer de véritables équipes de joueurs qui seront guidés par un Coach afin d'avoir une réelle cohésion d'équipe. Les équipes qui seront crées participeront à l'événement uLooz afin de
                        montrer leurs évolutions, leurs talents, leurs esprits compétitifs, tout cela dans la joie et la bonne humeur !
                        Si vous êtes intéréssés pour nous suivre dans cette grande aventure, n'hésitez pas à nous contacter pour avoir plus de détails.
                    </p>
                    <hr>
                </section>
            </div>
        </div>


        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>